
.btn__button{
  background: #0a3871;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  height: 40px;
  margin: 5px;
  margin-bottom: 10px;
  width: 18rem;
}

.btn__button.primero {
  color: #ffffff;
}

.btn__button.segundo {
  background: #e5e5e5;
  color: #0a3871;
}

@media screen and (min-width: 0) {
  .btn__button {
  width: 18rem;
  }
}

@media screen and (min-width: 768px) {
  .btn__button.primero, .btn__button.segundo {
    margin-top: 1rem;
  }
}



