.btn__button{
  background: #0a3871;
  border: none;
  border-radius: 12px;
  font-size: 1rem;
  height: 7vh;
  margin-bottom: 0.5rem;
  min-width: 200px;
  margin: 5px;
  width: 83vw;
}

.btn__button.primero {
  color: #ffffff;
  
}

.btn__button.segundo {
  background: #e5e5e5;
  color: #0a3871;
}

@media screen and (min-width: 768px) {
  .btn__button.primero, .btn__button.segundo {
    width: 20rem;
  }
}



