.main__button {
  background: #0a3871;
  border: none;
  color: white;
  font-size: 15px;
  height: 90px;
  margin: 10px;
  width: 80vw;
  height: 8vw;
}

@media screen and (min-width: 0) {
  .main__button {
    border-radius: 19px;
    width: 50vw;
    height: 15vw;
    max-height: 5rem;
    max-width: 15rem;
  }
}


