.main__button {
  background: #0a3871;
  border: none;
  border-radius: 19px;
  color: white;
  font-size: 1vw;
  height: 20vw;
  margin: 10px;
  max-height: 78px;
  max-width: 288px;
  min-width: 224px;
  width: 80vw;
}



