.main__button.home__add__word {
  background: #e5e5e5;
  border-radius: 15px;
  color: #0a3871;
  min-width: 224px;
  max-width: 15rem;
  max-height: 2.5rem;
}

@media screen and (min-width: 1024) {
  .main__button.home__add__word {
    max-width: 14rem;
    max-height: 3rem;
  }
}

